body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.calculator {
    border:solid;
}

.body {
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.display {
    border-style: solid;
    height: 50px;
    align-items: stretch;
    text-align: right;
    font-size: larger;
}

.operators {
    display: flex;
    flex-direction: column;
}

input[type="button"] {
    height: 75px;
    width: 75px;
}

input[value="0"] {
    width:150px;
}
